<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Schedule An Event</title>
    <link rel="icon" href="images/download.png" type="image/x-icon"/>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>



<div class="container">

<h2>Create New Post</h2>


<form th:action="@{/events/create}" th:method="post" th:object="${event}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{description}" />
    <br />

    Location:
    <input th:field="*{location}" />
    <br />



        Date:

    <div class="row">
        <div class='col-sm-6'>


                    <div class='input-group date' id='datepicker'>
                        <!--<input type='text' class="form-control" />-->
                        <input th:field="*{date}"  />
                        <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
                    </div>
                <!--</div>-->

        </div>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script >
    $(function () {
        $('#datepicker').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
        });
    });
</script>





    <br />

    Time:
    <input th:field="*{time}" />
    <br />
    <input type="submit" />

</form>

</div>

</body>
</html>
