<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<h1>EDIT</h1>

<form th:action="@{/events/{id}/edit(id = ${event.id})}" th:method="POST" th:object="${event}">
<div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" id="title" type="text" th:field="*{title}" />
</div>
<div class="form-group">
    <label for="body">Description</label>
    <textarea class="form-control" id="body"  rows = "10" cols = "10" th:field="*{description}" ></textarea>
</div>
    <div class="form-group">
    <label for="location">Location</label>
    <input class="form-control" id="location" type="text" th:field="*{location}" />
</div>

    <div class="form-group">
        <label for="date">Date</label>
        <input class="form-control" id="date" type="text" th:field="*{date}" />
    </div>

    <div class="form-group">
        <label for="date">Time</label>
        <input class="form-control" id="time" type="text" th:field="*{time}" />
    </div>

    <button class="btn btn-success">Submit</button>
</form>

</body>
</html>