<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Upcoming</title>

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>
    <link rel="stylesheet" href="css/event.css"/>




</head>
<body id="bg">
<nav th:replace = "fragments/navbar :: navbar" ></nav>

<div class=" text-center jumbotron ml-0 mr-0 pr-0 pl-0">

    <form method="GET" action="events/create">

        <div class="container border-head">
            <h1 class=" event-heading text-center">Upcoming Dog Days</h1>
            <button class="btn schedule-btn">Schedule An Event</button>
        </div>

    </form>

</div>

<div class="container">



    <div class="row">
        <div class="card">
            <div class="col-12 col-sm-6 col-lg-4" th:each="item : ${events}">
                <div class="eventTitle">
                    <h3><a class="title" th:href="'events/'+ ${item.getId()}">
                        <span th:text="${item.title}"></span></a></h3>
                </div>
                <div class="eventBody">
                    <p><strong>Location: </strong><span th:text="${item.location}"></span></p>
                    <p><strong>Date: </strong><span th:text="${item.date}"></span></p>
                    <p><strong>Time: </strong><span th:text="${item.time}"></span></p>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>