<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Upcoming</title>

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>

</head>
<body>

<td>
    <span th:if="${session.user == null}"  >
        <nav th:replace="fragments/navLoggedOut :: navbar"></nav>
    </span>
    <span th:unless="${session.user == null}">
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </span>
</td>

<div class="container">

    <h1 class="text-center">Upcoming Dog Days</h1>
    <form method="GET" action="events/create">

    <button class="btn btn-info">Schedule An Event</button>
    </form>

    <div class="row">

    <div class="col-12 col-sm-6 col-lg-4" th:each="item : ${events}">
        <h3> Title: <a th:href="'events/'+ ${item.getId()}"><span th:text="${item.title}"></span></a></h3>
        <p>Description: <span th:text="${item.description}"></span></p>
        <p>Location: <span th:text="${item.location}"></span></p>
        <p>Date: <span th:text="${item.date}"></span></p>
        <p>Time: <span th:text="${item.time}"></span></p>



    </div>
</div>
</div>
</body>
</html>