 <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Dog Days | Results</title>
        <th:block th:include="fragments/navbar :: bootstrap"></th:block>
        <link rel="stylesheet" href="css/search.css"/>

    </head>
    <body>
    <nav th:replace = "fragments/navbar :: navbar" ></nav>


    <div class=" text-center jumbotron ml-0 mr-0 pr-0 pl-0">
        <h1 class="mt-2 pt-2">Search Results for: <em>'<span th:text="${searchTerm}"></span>'</em></h1>
    </div>
    <div class="container">


        <div class="col-12 col-sm-6 col-lg-4" th:each="item : ${searchedContent}">
            <div class="eventTitle">
                <h3><a class="title" th:href="'events/'+ ${item.getId()}">
                    <span th:text="${item.title}"></span></a></h3>
            </div>
        <div class="eventBody">
            <p>Location: <span th:text="${item.location}"></span></p>
            <p>Date: <span th:text="${item.date}"></span></p>
            <p>Time:  <span th:text="${item.time}"></span></p>
        </div>
    </div>
    </div>



    </body>
</html>