 <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Dog Days | Results</title>

        <th:block th:include="fragments/navbar :: bootstrap"></th:block>

    </head>
    <body>
    <td>
    <span th:if="${session.user == null}"  >
        <nav th:replace="fragments/navLoggedOut :: navbar"></nav>
    </span>
        <span th:unless="${session.user == null}">
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </span>
    </td>

    <div class="container">
        <h1>Results for: <em>'<span th:text="${searchTerm}"></span>'</em></h1>



    <div th:each="item : ${searchedContent}">
        <a th:href="'events/'+ ${item.getId()}">
            <h3>Title: <span th:text="${item.title}"></span></h3></a>
        <p>Description: <span th:text="${item.description}"></span></p>
        <p>Location: <span th:text="${item.location}"></span></p>
        <p>Date: <span th:text="${item.date}"></span></p>
        <p>Time:  <span th:text="${item.time}"></span></p>

    </div>
    </div>



    </body>
</html>