<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Detailed Event</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <th:block th:include="fragments/navbar :: bootstrap"></th:block>

    <link rel="stylesheet" href="/css/show.css"/>
    <link rel="stylesheet" href="/css/navbar.css"/>

</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="/js/show-page.js"></script>

<nav th:replace = "fragments/navbar :: navbar" ></nav>

    <div class=" text-center jumbotron ml-0 mr-0 pr-0 pl-0">
        <h1 class="mt-2 pt-2">Detailed Information</h1>
    </div>

<div class="container">

    <div class="row">
        <div class="col col-sm-6 col-lg-6">
                <div class="eventTitle">
                    <h2 class="title"><strong><span th:text="${event.title}"></span></strong> </h2>
                </div>

                <div class="eventBody">
                    <p><strong>Description: </strong><span th:text="${event.description}"></span></p>
                    <p><strong>Location: </strong><span th:text="${event.location}"></span></p>
                    <p><strong>Date: </strong><span th:text="${event.date}"></span></p>
                    <p><strong>Time: </strong><span th:text="${event.time}"></span></p>
                </div>

               <p id="count">Dogs Attending: <span th:text="${countAttending}"></span></p>


            <div sec:authorize="isAuthenticated()">
                <h3>Comments</h3>
                <div th:each="comment : ${comments}">

                    <p>Comment: <span th:text="${comment.getCommentText()}"></span></p>
                    <p>User: <span th:text="${comment.getUser().getUsername()}"></span></p>

                </div>

                <form th:action="@{'/events/'+${event.getId()}+'/comment'}" th:method="post" th:object="${commentA}">

                <textarea th:field="*{commentText}"></textarea>
                <br/>
                <input type="submit" />
                </form>

                <td>
                    <span th:if="${attending == true}">

                            <form th:action="@{'/events/' + ${event.getId()} + '/unattend'}"  th:method="post">
                                <input id="decrement" class="btn btn-decrement btn-warning btn-sm" type="submit" value="Not Me!" />
                            </form>

                    </span>
                    <span th:unless="${attending == true}">

                            <form th:action="@{'/events/' + ${event.getId()} + '/attend'}"  th:method="post">
                                <input id="increment" class="btn btn-increment btn-success btn-sm" type="submit" value="Me Too!" />
                            </form>

                    </span>

                </td>
            </div>
    </div>

    <div class="col col-sm-6 col-lg-6">

        <div id='map' style='width: 100%; height: 400px;'></div>

    </div>

    </div>
</div>




</body>
</html>


