<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Detailed Event</title>
    <link rel="icon" href="images/download.png" type="image/x-icon"/>

    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

<h1>SHOW</h1>

<div>
    <h2>Event: <span th:text="${event.title}"></span></h2>
    <p>Description: <span th:text="${event.description}"></span></p>
    <p>Location: <span th:text="${event.location}"></span></p>
    <p>Date: <span th:text="${event.date}"></span></p>
    <p>Time: <span th:text="${event.time}"></span></p>

</div>
<p th:text="${countAttending}"></p>

<h3>Comments</h3>
    <div th:each="comment : ${comments}">

        <p>Comment: <span th:text="${comment.getCommentText()}"></span></p>
        <p>Comment By User: <span th:text="${comment.getUser().getUsername()}"></span></p>

    </div>

<form th:action="@{'/events/'+${event.getId()}+'/comment'}" th:method="post" th:object="${commentA}">

    <textarea th:field="*{commentText}"></textarea>
    <br/>
    <input type="submit" />
</form>



<form th:action="@{'/event/' + ${event.getId()} + '/attend'}"  th:method="post">
    <input class="btn btn-increment btn-success btn-sm" type="submit" value="+1" />
</form>

<form th:action="@{'/event/' + ${event.getId()} + '/unattend'}"  th:method="post">
    <input class="btn btn-decrement btn-warning btn-sm" type="submit" value="-1" />
</form>


<!--</form>-->

</div>
</body>

</html>


