<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Login</title>

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>
    <link rel="stylesheet" href="css/login.css"/>

<style>
    .round{

    border: 1px solid #223445;
    border-radius: 18px;
    -moz-border-radius: 5px;
    display:inline-block;

    -webkit-font-smoothing: antialiased;
    }

    a:hover {
        color:#FB3640;
    }
</style>



</head>
<body>
<nav th:replace = "fragments/navbar :: navbar" ></nav>






<div class="container ">
<div class="card text-center pb-2 mb-2 login-box">
    <div class="row text-center">
    <div class="col text-center">


            <h1 class="text-center" id="login-text">Login</h1>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
    <form th:action="@{/login}" method="post">

        <div class="form-group ">
            <label for="username">Username</label>
            <br/>
            <input id="username" name="username" class="round" type="text" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <br/>
            <input height="50px" width="50px" id="password" name="password" class="round" type="password" />
        </div>
        <p>Don't Have an account? <a href="/register">Register Now!</a></p>

        <input type="submit" id="size" class="btn login-btn pb-2 mb-2 round" value="Log In" />
    </form>


</div>
</div>
</div>
</div>
</body>
</html>