<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | Login</title>

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>

</head>
<body>
<td>
    <span th:if="${session.user == null}"  >
        <nav th:replace="fragments/navLoggedOut :: navbar"></nav>
    </span>
    <span th:unless="${session.user == null}">
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </span>
</td>

<div class="container">
<h1>Login</h1>
    <form th:action="@{/login}" method="post">

        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" name="username" class="form-control" type="text" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" class="form-control" type="password" />
        </div>
        <p>Don't Have an account? <a href="/register">Register Now!</a></p>

        <input type="submit" class="btn btn-block btn-primary" value="Log In" />
    </form>
</div>

</body>
</html>