<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | My Dogs</title>

    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">


<h1>My Dogs</h1>
<h2>User: <a th:href="'/profile'"><span th:text="${user.getUsername()}"></span></a></h2>

<div class="row">

<div class="col-12 col-sm-6 col-lg-4" th:each="item : ${dogs}">
    <h3>Dog: <span th:text="${item.name}"></span></h3>
    <p>Breed: <span th:text="${item.breed}"></span></p>
    <p>DOB: <span th:text="${item.dob}"></span></p>
    <p>Gender: <span th:text="${item.gender}"></span></p>
    <p>Mood: <span th:text="${item.temperament}"></span></p>
    <p>Desciption: <span th:text="${item.description}"></span></p>

    <div>
        <img width="150" th:src="@{${item.dogPicture}}"/>

    </div>

    <button><a th:href="'/profile/mydogs/'+ ${item.id}+'/edit'">Edit <span th:text="${item.name}"></span></a></button>

    <form method="GET" >
        <button><a th:href="'/profile/mydogs/'+ ${item.id}+'/delete'">Delete <span th:text="${item.name}"></span></a></button>
    </form>


</div>




</div>


</div>

</body>
</html>