<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>



<h1>Dog</h1>



<div th:each="item : ${dogs}">
    <a th:href="@{'/profile/mydogs'}">
        <h3 th:text="${item.name}"></h3></a>
    <p th:text="${item.breed}"></p>
    <p th:text="${item.dob}"></p>
    <p th:text="${item.gender}"></p>
    <p th:text="${item.temperament}"></p>





        <img class="img-thumbnail"  th:src="@{${item.dogPicture}}"/>

    <p th:text="${item.description}"></p>


    <button><a th:href="'/profile/mydogs/'+ ${item.id}+'/edit'">edit</a></button>

    <form method="GET" >
        <button><a th:href="'/profile/mydogs/'+ ${item.id}+'/delete'">delete</a></button>
    </form>










</div>

</body>
</html>