<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | My Profile</title>

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>



</head>
<body sec:authorize="isAuthenticated()">
    <nav th:replace = "fragments/navbar :: navbar" ></nav>

    <div class="text-center jumbotron ml-0 mr-0 pr-0 pl-0">
        <div class="container">
            <h1 class="profile-Header"><span th:text="${user.getUsername()}"></span>'s Profile</h1>
        </div>
    </div>

    <div class="page">
    <div class="container" sec:authorize="isAuthenticated()">


    <div class="container">
        <div class="row heading">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mydogs">

                <form method="GET" action="/profile/createDog">

                <h1 class="text-center sub-titleTwo">My Dogs

                    <button class="btn attach-btn mt-2">Add a Dog</button>

                </h1>


                </form>


                <div class="card">

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6" th:each="item : ${dogs}">
                        <div class="dogName">
                            <h3 class="name"><span th:text="${item.name}"></span></h3>
                        </div>
                        <div class="dogBody">

                            <p class="breed"><strong>Breed:</strong> <span th:text="${item.breed}"></span></p>
                            <p><strong>DOB:</strong> <span th:text="${item.dob}"></span></p>
                            <p><strong>Gender:</strong> <span th:text="${item.gender}"></span></p>
                            <p><strong>Mood:</strong> <span th:text="${item.temperament}"></span></p>
                            <img width="150" th:src="@{${item.dogPicture}}"/>
                            <form method="GET" th:action="@{/profile/mydogs/{id}/edit(id = ${item.getId()})}">
                                <button class="edit btn">Edit '<span th:text="${item.name}"></span>'</button>
                            </form>

                        </div>


                    </div>

                </div>



            </div>


        </div>
        </div>


        </div>


    <div class="container">

        <h1 class="text-center sub-titleThree heading">My Dog Days</h1>
        <form method="GET" action="events/create">

        <!--<button class="btn btn-info">Schedule An Event</button>-->

</form>


        <div class="row">


            <div class="col-12 col-sm-6 col-lg-4" th:each="item : ${events}">

                <div class="eventTitle">
                    <h3><a class="title" th:href="'events/'+ ${item.getId()}">
                        <span th:text="${item.title}"></span></a></h3>
                </div>
                <div class="eventBody">
                    <p><strong>Location: </strong><span th:text="${item.location}"></span></p>
                    <p><strong>Date: </strong><span th:text="${item.date}"></span></p>
                    <p><strong>Time: </strong><span th:text="${item.time}"></span></p>


                    <div class="row">

                        <div class="alter-btns col-12 col-md-6 col-lg-6">
                    <form method="GET" th:action="@{/events/{id}/edit(id = ${item.getId()})}">
                        <button  class="btn edit-btn">Edit</button>
                    </form>
                        </div>

                <div class="alter-btns col-12 col-md-6 col-lg-6">
                    <form method="GET" th:action="@{/events/{id}/delete(id = ${item.getId()})}">
                        <button class="btn delete-btn">Delete</button>
                    </form>
                </div>

                    </div>
                </div>
            </div>


            </div>
        </div>





</div>
<!--</div>-->

</body>
</html>