<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dog Days | My Profile</title>
    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">

<h1>Your Profile: <span th:text="${user.getUsername()}"></span></h1>

<div>
    <p>Profile Information</p>
    <p>Username: <span th:text="${user.getUsername()}"></span></p>
    <p>Email: <span th:text="${user.getEmail()}"></span></p>
</div>


<button><a th:href="'/profile/createDog'">Attach a Dog</a></button>
<button><a th:href="'/profile/mydogs'">My Dogs</a></button>

</div>






</body>
</html>