<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <span th:include="fragments/navbar :: bootstrap"></span>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>


<div class="container">
    <h1>Create an account</h1>
    <form th:action="@{/register}" method="POST" th:object="${user}">

        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" th:field="*{username}" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" th:field="*{email}" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" th:field="*{password}" />
        </div>

        <div class="form-group">
            <label for="confirmedPassword">Confirm Your Password</label>
            <input id="confirmedPassword" name="confirmedPassword" class="form-control" type="password" />
        </div>

        <input value="Join Dog Days!" class="btn btn-block btn-primary" type="submit" />
    </form>

</div>


</body>
</html>