.eventform{
    width: auto;
    max-width: 600px;
    height:700px;
    border-radius: 1em !important;
    border:3px solid #00A676 ;
    font-family:'Noteworthy', sans-serif;
    background-color: #474954;
    margin: 25px auto;
    font-size:20px;
    color: #00A676;

}

input{
    width:70%;
    color: black;
    margin:auto;
}

#size{
    width:20%;
    text-align:center;
    margin: auto;
}
.sub-btn{
    background-color:#00A676;
    color: black;
}
.sub-btn:hover{
    color: white;
}
.input-group{
    width:70%;
    margin:auto;
    color: black;
    text-align:center;
}
#main-heading{
    font-family: 'chalkduster', cursive;
}
.round{

    border: 1px solid #223445;
    border-radius: 5px;
    -moz-border-radius: 5px;
    display:inline-block;
    color: black;

    -webkit-font-smoothing: antialiased;
}
