
.jumbotron{
    background-image:url("../images/eventsDog.jpg");
    height:200px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}



/*.eventTitle:hover{*/
    /*background-color: darkblue;*/
/*}*/

/*.card-h{*/
    /*background-color: orangered;*/
/*}*/

/*.btn-h{*/
    /*background-color:orangered;*/
    /*color:white;*/
/*}*/

/*.card-h ,.card-b{*/
    /*border-radius:15px;*/
/*}*/

/*.card-b{*/
    /*background-color:#EE9726;*/
/*}*/
.event-heading{
    font-family: 'chalkduster', cursive;
}

.eventTitle{
    font-family: 'chalkduster', cursive;
    background-color: lightsteelblue;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
}
.title{
    color: white;
    line-height: 40px;
    font-size: 1.5em;
}
.eventBody{
    font-family: 'Gill Sans Light Italic', sans-serif;
    background-color: lightgrey;
    border-radius: 10px;
    height: 150px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
}