
.jumbotron{
    background-image:url("../images/eventsDog.jpg");
    height:400px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}


.addMore:hover{
    border: 1px solid #888;
    background-color: darkorange;
}
.card-h{
    background-color: orangered;
}
.btn-h{
    background-color:orangered;
    color:white;
}
.card-h ,.card-b{
    border-radius:15px;
}
.card-b{
    background-color:#EE9726;
}
