
.jumbotron{
    background-image:url("../images/eventsDog.jpg");
    height:200px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.jumbotron h1{
    background: white;
    opacity: .8;
    border-radius: 10px;
    color: black;
    font-size: 4em;
}

.event-heading{
    font-family: 'chalkduster', cursive;
}

.eventTitle{
    font-family: 'chalkduster', cursive;
    background-color: #00A676;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
}
.title{
    color: white;
    line-height: 40px;
    font-size: 1.25em;
}
.eventBody{
    font-family: 'Gill Sans Light Italic', sans-serif;
    background-image:url("../images/silhouette.png");
    background-size: 250px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    font-size: 1em;
    text-align: center;
    line-height: 40px;
}
.schedule-btn{
    background-color: #00A676;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}