/*body{*/
    /*background-image:url("playingdog.jpg");*/
/*}*/

.jumbotron{
    background-image:url("../images/playingdog.jpg");
    height:300px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}
.homeFont{
    font-family:'bradleyhand',cursive;
    font-size:25px;
    color:#FD6B4B;
}
.jumbotron h1{
    font-family: 'chalkduster', cursive;
    background: black;
    opacity: .1;
    color: #5A838D;
    font-size: 4em;
}
