.btn{
    margin-bottom:3px;
}

.login-box {
    width: 450px;
    height:350px;
    border-radius: 1em !important;
    border:3px solid #00A676 ;
    font-family:'Noteworthy', sans-serif;
    background-color: #474954;
    font-size:20px;
    margin: 25px auto;
    color: #00A676;


}
input{
    width:70%;
    color: black;
    font-family:'Times',regular;
}
#size{
    width:20%;
}

.login-btn{
    background-color:#00A676;
    color: black;
}
.login-btn:hover{
    color: white;
}
#login-text{
    font-family:'chalkduster',cursive;

}
.round{

    border: 1px solid #223445;
    border-radius: 5px;
    -moz-border-radius: 5px;
    display:inline-block;

    -webkit-font-smoothing: antialiased;
}

a:hover {
    color:#FB3640;
}
.login-box{
    margin-top:110px;
}
