/*.top{*/
    /*position: fixed;*/
/*}*/

#main-font{
    font-family: 'chalkduster', cursive;
    font-size: 2em;
    color:#00A676;
}
.navbar-color{
    background-color:#474954;
    color:#F7F7FF;

}

.nav-links a{
    color:#00A676;
}
.navbar{
    margin: 0;
    border: none;
}
.navbar-nav>li>a {
    font-family:'Noteworthy', sans-serif;
    color:#00A676;
    font-size: 1.7em;
}
.navbar-nav>li>a:hover {
    color: white;
    background-color:#474954;
}
.navSearch{
    font-family:'Noteworthy', sans-serif;
    background-color:#474954;
    color:#00A676;
    font-size: 1.7em;

}