.profile-Header{
    text-align: center;
}
.jumbotron {
    background-image:url("../images/profileBG.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.profile-Header{
    font-family: 'chalkduster', cursive;
    background: white;
    opacity: .8;
    border-radius: 10px;
    color: black;
    font-size: 4em;
}
.eventTitle{
    font-family: 'chalkduster', cursive;
    background-color: lightsteelblue;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
}
.title{
    color: white;
    line-height: 40px;
    font-size: 1.25em;
}
.sub-title{
    font-family: 'chalkduster', cursive;

}
.eventBody{
    font-family: 'Gill Sans Light Italic', sans-serif;
    background-image:url("../images/silhouette.png");
    background-size: 250px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 250px;
    font-size: 1em;
    text-align: center;
    line-height: 40px;
}

.attach-btn{
    width: 150px;
    background-color: lightsteelblue;
    border: 1px solid black;
    color: white;
    margin-bottom: 5px;

}
.dogs-btn{
    width: 150px;
    background-color: lightsteelblue;
    border: 1px solid black;
    color: white;
    margin-bottom: 5px;
}

.attach-btn:hover{
    color: black;
}
.dogs-btn:hover{
    color: black;
}
.alter-btns{
    text-align: center;
}
.edit-btn{
    width: 100px;
    background-color: lightsteelblue;
    border: 1px solid black;
    color: white;
    margin-bottom: 5px;
}
.delete-btn{
    width: 100px;
    background-color: lightsteelblue;
    border: 1px solid black;
    color: white;
    margin-bottom: 5px;
}
