.jumbotron{
    background-image:url("../images/searchDog.jpg");
    z-index: -1;
    height:250px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}

.jumbotron h1{
    font-family: 'chalkduster', cursive;
    background: white;
    opacity: .8;
    color: black;
    border-radius: 10px;
    /*text-shadow: 7px 7px white;*/
    font-size: 4.8em;
}
.eventTitle{
    font-family: 'chalkduster', cursive;
    background-color: #00A676;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
}
.title{
    color: white;
    line-height: 40px;
    font-size: 1.25em;
}
.eventBody{
    font-family: 'Gill Sans Light Italic', sans-serif;
    background-image:url("../images/silhouette.png");
    background-size: 250px 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    font-size: 2em;
    text-align: center;
    line-height: 40px;
}
.events{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.bg-search{
    background-image: url("../images/puppy-paw.png");
    background-repeat: repeat;
    background-size: 2100px 600px;
    height: 600px;
}