/*body{*/
    /*!*background-color: #5A838D;*!*/
    /*font-family: 'Gill Sans Light', sans-serif;*/
/*}*/

.info{
    font-family: 'Gill Sans Light', sans-serif;
    color: #FD6B4B;
    font-size: 2em;
}
.jumbotron{
    background-image:url("../images/dog_stick.jpeg");
    height:200px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}

.m