<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
    <title>Dog Days | About </title>

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/navbar.css"/>
    <link rel="stylesheet" href="css/aboutUs.css"/>



</head>
<body>
<nav th:replace = "fragments/navbar :: navbar" ></nav>

<div class="container">
    <div class="row">
        <h1 class="eventTitle">Team Dog Days</h1>

        <div class="col col-sm col-md col-lg-4 aboutUs">
            <h3>Megan Simmons</h3>
            <p>
                <img width="300" class="round" src="/images/Megan.jpg"/>
            </p>
            <p><i class="far fa-file"></i><a class="links" href="https://alumni.codeup.com/students/631">Codeup</a></p>
            <p><i class="fab fa-linkedin"></i><a class="links" href="https://www.linkedin.com/in/megan-l-simmons/">LinkedIn</a></p>
            <p><i class="fab fa-github-square"></i><a class="links" href="https://github.com/megansimmons">GitHub</a></p>
        </div>

        <div class="col col-sm col-md col-lg-4 aboutUs middle">
            <h3>Sabita Regmi</h3>
            <p>
                <img width="300" class="round" src="/images/Sabita.jpg"/>
            </p>
            <p><i class="far fa-file"></i><a class="links" href="https://alumni.codeup.com/students/632">Codeup</a></p>
            <p><i class="fab fa-linkedin"></i><a class="links" href="https://www.linkedin.com/in/sabita-regmi/">LinkedIn</a></p>
            <p><i class="fab fa-github-square"></i><a class="links" href="https://github.com/Sabita-Regmi">GitHub</a></p>

        </div>

        <div class="col col-sm col-md col-lg-4 aboutUs">
            <h3>Marcus Aguirre</h3>
            <p>
                <img width="300" class="round" src="/images/Marcus.jpg"/>
            </p>
            <p><i class="far fa-file"></i><a class="links" href="https://alumni.codeup.com/students/623">Codeup</a></p>
            <p><i class="fab fa-linkedin"></i><a class="links" href="https://www.linkedin.com/in/marcus-a-aguirre/">LinkedIn</a></p>
            <p><i class="fab fa-github-square"></i><a class="links" href="https://github.com/Marcus-Aguirre">GitHub</a></p>

        </div>

    </div>



</div>
</body>
</html>