<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dog Days | Home</title>
    <th:block th:include="fragments/navbar :: bootstrap"></th:block>


</head>
<body>
<nav th:replace = "fragments/navbar :: navbar" ></nav>
<!--
<td>
    <span th:if="${session.user == null}"  >
        <nav th:replace="fragments/navLoggedOut :: navbar"></nav>
    </span>
    <span th:unless="${session.user == null}">
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </span>
</td>-->
<div class="container">

<h1>Welcome to Dog Days</h1>
<p>A dog meetup application to bring together San Antonio dog owners</p>
</div>
</body>
</html>