<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dog Days | Home</title>
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Mukta&display=swap" />-->

    <th:block th:include="fragments/navbar :: bootstrap"></th:block>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/navbar.css"/>

</head>
<body>
<nav th:replace = "fragments/navbar :: navbar" ></nav>

    <div class=" text-center jumbotron ml-0 mr-0 pr-0 pl-0">
        <div class="container">
            <h1 id="head-font">Welcome to Dog Days</h1>
        </div>
    </div>

<div class="container-fluid p-0 m-0 bg-home">


    <p class="main text-center homeFont">Dog Days is for dog lovers.  ❤️ <br/>If you have a cooped-up canine or two, this app is just for you! <br/>Sign up today, and let your dog play!
    </p>
    <form method="GET" action="/register">
       <div class="sign-up-div">
        <button class="sign-up btn" type="submit">Sign Me Up!</button>
       </div>
    </form>
</div>
</body>
</html>