<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dog Days | Home</title>

    <link rel="stylesheet" href="css/home.css"/>
    <th:block th:include="fragments/navbar :: bootstrap"></th:block>


</head>
<body>
<nav th:replace = "fragments/navbar :: navbar" ></nav>

    <div class=" text-center jumbotron ml-0 mr-0 pr-0 pl-0">

            <h1 class="mt-2 pt-2 heading">Welcome to Dog Days</h1>
        </div>
<div class="container p-0 m-0">


    <p class="text-center homeFont">This is a group for anyone that has a love for dogs, helping others, and making a difference in your community!

        What will we do? Take your dog for a walk together, check out the best local hang outs, find the best tacos, look for the best local brewery, listen to music, explore the outdoors together – you name it and we will consider it!

    </p>

</div>
</body>
</html>